{% extends 'main/base.html' %}

{% block content %}
    <form method="post" >
        <div class="col-12">

            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header">
                            {% if object %}
                                Редактирование собаки
                            {% else %}
                                Добавление собаки
                            {% endif %}

                        </div>


                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">
                            {% if object %}
                                Сохранить
                            {% else %}
                                Создать
                            {% endif %}
                        </button>

                    </div>
                </div>
            </div>
        </div>
    <div class="col-12">
        <div class="col-6">
            <div class="card">
            <div class="card-body">
                <div class="card-header">
                    Версия
                </div>


                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                        {{ form.as_p }}
                    {% if forloop.revcounter != 0 %}
                        <hr>
                        {% endif %}

                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
    </form>
{% endblock %}