{% extends 'blog/base.html' %}
{% block content %}
    {% load blog_tags %}
    <div class="col-12 mb-5">
        <a class="btn btn-outline-primary" href="{% url 'blog:create' %}">Создать публикацию</a>
    </div>
    {% for object in object_list %}

        <div class="col-md-4">
            <div class="card mb-4 box-shadow">

                <div class="card-body">
                    <p class="card-text">
                        {% if object.is_published %}
                            {{ object|title }}
                            </p>
                            <P class="card-img">
                            <img src="{{ object.preview | mymedia }}" width="200" alt="Нет картинки">

                            </P>
                            <p>
                            {{ formset.management_form }}
                            {% for form in formset.forms %}
                            {{ form.as_p }}
                            {% endfor %}
                            </p>


                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{% url 'blog:view' object.pk %}">View</a>
                        <a href="{% url 'blog:edit' object.pk %}">Edit</a>
                        <a href="{% url 'blog:delete' object.pk %}">Delete</a>
                        {% else %}

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
